.animate__animated {
  animation-duration: 3s;
}

.animate__delay-250-ms {
  animation-delay: 250ms;
}
.animate__delay-500-ms {
  animation-delay: 500ms;
}
.animate__delay-750-ms {
  animation-delay: 750ms;
}
.animate__delay-1s {
  animation-delay: 1s;
}
.animate__delay-1500ms {
  animation-delay: 1.5s;
}
.animate__delay-2s {
  animation-delay: 1s;
}

@keyframes jump {
  0% {
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  }

  20% {
    transform: translate3d(0, 2%, 0) scale3d(.98, 1.02, 1);
  }

  40% {
    transform: translate3d(0, 5%, 0) scale3d(1.02, .98, 1);
  }

  50% {
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  }
}

.animate__jump {
  transform-origin: 50% 50%;
  animation: jump 1.5s linear alternate;
  animation-delay: 2s;
}

@keyframes bounce {

  0%,
  20%,
  53%,
  100% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0) scaleY(1);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0) scaleY(1);
  }

  80% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0) scaleY(1);
  }

  90% {
    transform: translate3d(0, -4px, 0) scaleY(1);
  }
}

@keyframes pulse {
  0% {
    transform: scaleX(1);
  }

  25% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  50% {
    transform: scaleX(1);
  }
}

@keyframes flash {

  0%,
  30%,
  60%,
  100% {
    opacity: 1;
  }

  15%,
  45% {
    opacity: 0;
  }
}

@keyframes wobble {
  0% {
    transform: translate3d(0, 0, 0);
  }

  7.5% {
    transform: translate3d(-1%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }

  15% {
    transform: translate3d(1%, 0, 0) rotate(1deg);
  }

  22.5% {
    transform: translate3d(-1%, 0, 0) rotate(-1deg);
  }

  30% {
    transform: translate3d(1%, 0, 0) rotate(1deg);
  }

  37.5% {
    transform: translate3d(-0.5%, 0, 0) rotate(-0.5deg);
  }

  50% {
    transform: translateZ(0);
  }
}

@keyframes tada {
  0% {
    transform: scale3d(1, 1, 1);
  }

  5%,
  10% {
    transform: scale3d(0.98, 0.98, 0.98) rotate3d(0, 0, 1, -1deg);
  }

  15%,
  25%,
  35%,
  45% {
    transform: scale3d(1.02, 1.02, 1.02) rotate3d(0, 0, 1, 1deg);
  }

  20%,
  30%,
  40% {
    transform: scale3d(1.02, 1.02, 1.02) rotate3d(0, 0, 1, -1deg);
  }

  50% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes jello {

  0%,
  11.1%,
  100% {
    transform: translate3d(0, 0, 0);
  }

  22.2% {
    transform: skewX(-1.5deg) skewY(-1.5deg);
  }

  33.3% {
    transform: skewX(0.9deg) skewY(0.9deg);
  }

  44.4% {
    transform: skewX(-0.7deg) skewY(-0.7deg);
  }

  55.5% {
    transform: skewX(0.5deg) skewY(0.5deg);
  }

  66.6% {
    transform: skewX(-0.25deg) skewY(-0.25deg);
  }

  77.7% {
    transform: skewX(0.13deg) skewY(0.13deg);
  }

  88.8% {
    transform: skewX(-0.06deg) skewY(-0.06deg);
  }
}
